@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
    color: hsl(292, 16%, 49%);
    background-color: hsl(275, 100%, 97%);
    height: 120vh;
    overflow-y: auto; 
}

body::-webkit-scrollbar {
    width: 0px;
}



.bgImg {
    position: relative;
    width: 100%;
    height: 290px;
    overflow: hidden;
}

#desktopBG,
#mobileBG {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#desktopBG {
    display: block;
}

#mobileBG {
    display: none;
}

@media only screen and (max-width: 767px) {
    #desktopBG {
        display: none;
    }

    #mobileBG {
        display: block;
    }

    .faq-container {
        width: 375px;
        margin-left: auto;
        margin-right: auto;
    }

    .heading {
        font-size: 20px; 
    }

    .header-container img {
        width: 20px; 
    }

    h2.question {
        font-size: 14px; 
    }

    p {
        font-size: 12px; 
    }
}

.faq-container {
    max-width: 600px;
    margin: -110px auto;
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: left; 
    margin-bottom: 10px;
    background-color: rgba(255,255,255,255); 
}

.heading {
    color: hsl(292, 42%, 14%);
    font-weight: 900;
    font-size: 40px;
    margin-left: 5px;
    background-color: rgba(255,255,255, 1);
}

.header-container img {
    width: 30px;
    margin-right: 10px; 
    background-color: rgba(255,255,255,255);
}

.faq-item {
    margin-bottom: 20px;
    position: relative;
}

h2.question {
    font-size: 18px;
    color: hsl(292, 42%, 14%);
    cursor: pointer;
    margin-top: 20px;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255,255,255, 1);
    font-weight: 600;
}

h2.question:hover {
    color: rgba(169,39,228, 1);
}

h2.question .icon {
    font-size: 18px;
    cursor: pointer;
    background-color: rgba(255,255,255, 1);
}

p {
    font-size: 16px;
    color: hsl(292, 16%, 49%);
    margin: 0;
    padding: 10px;
    display: none;
    word-spacing: 1px;
    line-height: 1.5;
    background-color: rgba(255,255,255, 1);
}

hr {
    border: none; 
    border-top: 0.2px solid #f2f1f1;
    margin: 20px 0; 
    padding: 0; 
    width: 100%; 
}


.icon-plus,
.icon-minus {
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.attribution {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: center;
    color: #999999;
    font-size: 14px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-top: 1px solid #ddd;
}

.attribution a {
    color: #3b5998;
    text-decoration: none;
    font-weight: bold;
}

.attribution a:hover {
    text-decoration: underline;
}
